body{
    margin: 0;
    font-family: 'Lato', sans-serif;
}
p{
    color: rgba(39, 39, 39, 0.60);
}
.header_container{
    display: flex;
    justify-content: space-between;
    padding: 50px 150px;
    height: auto;
    
}
h1{
    font-size: 50px;
}
.header_container img{
width: 400px;
margin-top: 50px;

margin-bottom: -52px;

}
.heading p{
    margin-bottom: 50px;
}
header{
    background: rgba(229, 84, 115, 0.10);    
}
.heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
button{
    border-radius: 8px;
    background: #E55473;
    width: fit-content;
    padding: 12px 25px;
    border: none;
    color: #FFF;
}
.flowers-section{
    background: #FFF;
    text-align: center;
    margin-bottom: 100px;
    margin-top: 100px;
}
.flowers-list{
    display: flex;
    gap: 20px;
    height: 300px;
    justify-content: center;
    align-items: center;
}

.flowers-section p{
    margin: 50px 0;

}
.flower-container{
    display: flex;
    flex-direction: column;
    height: 300px;
    
}
.flower-img1,.flower-img2,.flower-img3{
    padding-top: 30px;
}
.flower-container img{
    height: 300px;
    width:auto;
}
.flower-container p{
    margin-top: 10px;
    text-decoration: underline;
    font-weight: 700;
    margin-bottom: 100px;
}
.flower-img1{
    
    border-radius: 300px 300px 0px 0px;
    background: rgba(136, 38, 85, 0.15);
    
}
.flower-img1 img{
    margin: 73px 52px 0px 51px;

    vertical-align:bottom ;
}

.flower-img2{
    
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}
.flower-img2 img{
    margin: 41px 14px 30px 14px;
    

}
.flower-img3{
    
    border-radius: 300px 300px 0px 0px;
background: rgba(71, 125, 17, 0.15);
}
.flower-img3 img{
    margin: 73px 73px 0px 45px;
    vertical-align:bottom ;
}

.our-services{
    display: flex;
    justify-content:space-around;
    text-align: center;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin: 200px auto;
    height: 300px;
    align-items: center;
    width: 1015px;
}
.signing-up{
    display: flex;
    justify-content: space-around;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    height: 500px;
    align-items: center;
    padding: 100px;
    
}

   
.sign-up{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 
    
}
.instagram{
    text-align: center;
    margin: 100px auto;
    max-width: 100%;

}
.insta-pictures{
    display: flex;
    gap: 55px;
    justify-content: center;
    

}
.insta-pictures img{
    width: 200px;
    border-radius: 3px;

}
.deals{
    text-align: center;
}
.input{
    height: 50px;
    width: 500px;
    border-radius: 8px;
    border: none;
}
.latest-deals{
   
    background-image: url(./FlowerAsset/Rectangle_9.png);
    margin: 200px auto;
    padding: 100px 50px;
    background-size: cover;
    width: 880px;
    

}
.latest-deals button{
    height: 55px;
}
::placeholder{
padding-left: 20px;}

.footer-div{
    text-align: center;
    background-color: black;
    color: #FFF;
    padding: 70px;
    margin-top: 100px;
}
.mains{
    display: flex;
    justify-content: space-around;

}
.clients{
margin-left: 100px;
margin-right: 100px;
padding-bottom: 50px;
border-radius: 8px;
box-shadow: -1px 4px 22px -4px rgba(0,0,0,0.75);
background: rgba(229, 84, 115, 0.05);
}

.mates{
    text-align: center;
    padding-bottom: 70px;
    padding-top:50px ;
   
    
}
.teammates img{
    border-radius: 5px;
}
.mains h4 {
    text-align: center;
}


